<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Chore</title>
</head>
<body>
    <div class="container">
        <h2>New Chore</h2>
        <div class="row">
            <form action="/chore/add" method="POST">
                <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="">
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea name="description"></textarea>
                    </div>
                    <div>
                        <label for="location">Location</label>
                        <input type="text" name="location" id="">
                        </div>
                        <input type="submit" value="Add">
            </form>

        </div>
    </div>
</body>
</html>