<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New to do</title>
</head>
<body>
    <form action="/todo/add" method="POST">
        <table>
            <tr>
            <td>ToDo:</td>
            <td>
                <input type="text" name="text" id="">
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <textarea name="description" ></textarea>
            </td>
        </tr>
    </table>
    <button type="submit">Submit</button>
    </form>
    <a href="/">Home</a>
</body>
</html>