<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h2>Welcome, {{user.first_name}} {{user.last_name}}</h2>
            <a href="/user/logout">Logout</a>
        <div class="row">
            <table>
                {% for chore in user.chores %}
                    <tr>
                        <td>{{chore.title}}</td>
                        <td>{{chore.description}}</td>
                        <td>{{chore.location}}</td>
                        <td><a href="/chore/{{chore.id}}">View</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>