*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}
#update_table{
    margin-bottom: 10px;
}
/* table{
margin: 25px;
}
a{
    margin: 25px;
} */
